/* Paleta de colores morados y azules */
body {
    background: linear-gradient(to right, #a70606, #62049c); /* Fondo de degradado azul a morado */
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Botones con colores morados y azules */
.button {
    background: linear-gradient(to right, #6b0e0e, #3e0f5c);
    color: #fff;
}

header {
    background-color: #111;
    padding: 10px;
    text-align: center;
    z-index: 1; /* Asegura que el encabezado esté en la parte superior */
    position: fixed; /* Mantiene el encabezado fijo en la parte superior */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
}

/* Establecer un ancho máximo para el menú lateral */
nav {
    background-color: #111;
    width: 250px;
    padding: 10px;
    text-align: center;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #070707, #311144);
    border-right: 2px solid #fff; /* Borde derecho para el menú lateral */
}

nav li {
    display: inline;
    margin: 0 10px;
}

/* Alineación vertical y espaciado para los elementos del menú */
/* Estilo de la barra lateral */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    margin: 10px 0;
    font-size: 20px;
}

/* Aplica márgenes personalizados para cada elemento */
nav a:nth-child(1) {
    margin-top: 10px; /* Espacio en la parte superior de "Inicio" */
}

nav a:nth-child(2) {
    margin-top: 10px; /* Deja "Lista de Juegos para Descargar" centrado verticalmente */
}

nav a:nth-child(3) {
    margin-bottom: 10px; /* Espacio en la parte inferior de "Cerrar Sesión" */
}

nav a:hover {
    color: #4400ff;
}


main {
    padding: 20px;
    margin-left: 280px;
    margin-bottom: 20px; /* Agregado espacio inferior para separar del pie de página */
    min-height: calc(100vh - 80px); /* Ajusta el 80px según la altura de tu footer */
}

h1 {
    font-size: 36px;
}

/* Estilo para los botones */
.button {
    background-color: #7700ff;
    color: #111;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #7700ff;
}

/* Estilo para la container de juegos */
.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

/* Estilo para cada juego */
.game {
    width: calc(33.33% - 20px); /* Para mostrar 3 juegos por fila y agregar un espacio entre ellos */
    background: #111;
    color: #fff;
    border: 1px solid #7700ff; /* Borde suave */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para la imagen del juego */
.game img {
    max-width: 100%;
    height: auto;
    border: 1px solid #7700ff;
    border-radius: 5px;
}

/* Estilo para el botón de descarga */
.download-button {
    display: inline-block;
    background: #7700ff;
    color: #111;
    text-decoration: none;
    border: 1px solid #111; /* Borde suave */
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background: #4400ff; /* Color de resaltado al pasar el mouse */
}

/* Estilo para la información del juego */
.game h2 {
    font-size: 20px;
}

.game p {
    font-size: 16px;
    margin: 5px 0;
}



/* Estilo del pie de página */
footer {
    background: #11111100;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative; /* Cambiamos 'fixed' a 'relative' */
    width: 80%; /* Ancho completo del viewport */
    bottom: 0; /* Lo coloca en la parte inferior del contenido */
}
