body {
    font-family: 'Press Start 2P';
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 100%, 22%, 0.541), hsla(295, 94%, 7%, 0.801)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 100%, 22%, 0.541), hsla(295, 94%, 7%, 0.801)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(104, 50, 155, 0.486); /* Fondo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2f00ff;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo adicional para las fuentes */
h2, label, input, button {
    font-family: 'Press Start 2P', cursive;
}


/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}


a {
    text-decoration: none;
    color: #ffffff;
}
